{% extends 'base.html' %}
            {% block content %}
            <!-- sidebar -->
            <!-- sidebar -->        
        <div class="mainframe">
                <div class="circularsbase">
                    <div class="internalcircular">
                        <div class="internalcircularhead">
                            Internal Circular
                        </div>
                        <hr>
                        <span>
                            <ul>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            1</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            2</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            3</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            4</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            5</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">Internal
                                            Circular
                                            6</div></a></li>
                            </ul>
                        </span>
                    </div>
                    <div class="extrnalcircular">
                        <div class="externalcircularhead">
                            External Circular
                        </div>
                        <hr>
                        <span>
                            <ul class="list-detailing">
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            1</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            2</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            3</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            4</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            5</div></a></li>
                                <li> <a href="#"> <div
                                            class="circulartagdetailing">External
                                            Circular
                                            6</div></a></li>
                            </ul>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/JS/script.js"></script>
       {% endblock %}
    </body>
</html>