{% extends 'base.html' %}
            {% block content %}
        <div class="baseforeverypage">
            <!-- sidebar -->
            <!-- sidebar -->
            <div class="mainframe">
                <br><br><br><br><br><br><b><br><br><br><br><br><br><br></b>
                <br><br><br><br>
                Main frame page for every page to be open inside this tab and
                <br>
                all the data collected through different pages that had been
                created in HTML fromat
            </div>
        </div>
        <script src="/static/JS/script.js"></script>
        {% endblock %}
    </body>
</html>