{% extends 'base.html' %}
            {% block content %}
        <div class="baseforeverypage">
            <!-- sidebar -->
            <!-- sidebar -->
            <div class="mainframe">
                <div class="subtabsNotice">
                    <div class="departmentnotices">
                        <div class="departmentrelatedNoticehead">Notices <hr></div>
                        
                        <span class="detailing-of-notices">
                            
                            <div class="subclassofnotice">Notices 1</div>
                            <div class="subclassofnotice">Notices 2</div>
                            <div class="subclassofnotice">Notices 3</div>
                            <div class="subclassofnotice">Notices 4</div>
                            <div class="subclassofnotice">Notices 5</div>
                            <div class="subclassofnotice">Notices 6</div>
                            <div class="subclassofnotice">Notices 7</div>
                            <div class="subclassofnotice">Notices 8</div>
                            <div class="subclassofnotice">Notices 9</div>
                            <div class="subclassofnotice">Notices 1</div>
                            <div class="subclassofnotice">Notices 2</div>
                            <div class="subclassofnotice">Notices 3</div>
                            <div class="subclassofnotice">Notices 4</div>
                            <div class="subclassofnotice">Notices 5</div>
                            <div class="subclassofnotice">Notices 6</div>
                            <div class="subclassofnotice">Notices 7</div>
                            <div class="subclassofnotice">Notices 8</div>
                            <div class="subclassofnotice">Notices 9</div>
                        </span>
                    </div>
                    <br>
                    <div class="placementrelatedNotice">
                        <div class="placementrelatedNoticehead">
                            Placement Notices<hr>
                        </div>
                        
                        <span class="detailing-of-notices">
                            
                            <div class="subclassofnotice">Company 1</div>
                            <div class="subclassofnotice">Company 2</div>
                            <div class="subclassofnotice">Company 3</div>
                            <div class="subclassofnotice">Company 4</div>
                            <div class="subclassofnotice">Company 5</div>
                            <div class="subclassofnotice">Company 6</div>
                            <div class="subclassofnotice">Company 7</div>
                            <div class="subclassofnotice">Company 8</div>
                            <div class="subclassofnotice">Company 9</div>
                            <div class="subclassofnotice">Company 10</div>
                            <div class="subclassofnotice">Company 1</div>
                            <div class="subclassofnotice">Company 2</div>
                            <div class="subclassofnotice">Company 3</div>
                            <div class="subclassofnotice">Company 4</div>
                            <div class="subclassofnotice">Company 5</div>
                            <div class="subclassofnotice">Company 6</div>
                            <div class="subclassofnotice">Company 7</div>
                            <div class="subclassofnotice">Company 8</div>
                            <div class="subclassofnotice">Company 9</div>
                            <div class="subclassofnotice">Company 10</div>
                        </span>
                    </div>
                    <div class="resultrelatedNotices">
                        <div class="resultofplacementNoticehead">
                             Result of Placements <hr>
                        </div>
                        
                         <span class="detailing-of-notices">
                            
                            <div class="subclassofnotice">Result of Company 1</div>
                            <div class="subclassofnotice">Result of Company 2</div>
                            <div class="subclassofnotice">Result of Company 3</div>
                            <div class="subclassofnotice">Result of Company 4</div>
                            <div class="subclassofnotice">Result of Company 5</div>
                            <div class="subclassofnotice">Result of Company 6</div>
                            <div class="subclassofnotice">Result of Company 7</div>
                            <div class="subclassofnotice">Result of Company 8</div>
                            <div class="subclassofnotice">Result of Company 9</div>
                            <div class="subclassofnotice">Result of Company 10</div>
                            <div class="subclassofnotice">Result of Company 1</div>
                            <div class="subclassofnotice">Result of Company 2</div>
                            <div class="subclassofnotice">Result of Company 3</div>
                            <div class="subclassofnotice">Result of Company 4</div>
                            <div class="subclassofnotice">Result of Company 5</div>
                            <div class="subclassofnotice">Result of Company 6</div>
                            <div class="subclassofnotice">Result of Company 7</div>
                            <div class="subclassofnotice">Result of Company 8</div>
                            <div class="subclassofnotice">Result of Company 9</div>
                            <div class="subclassofnotice">Result of Company 10</div>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <script src="/static/JS/script.js"></script>
        {% endblock %}
    </body>
</html>