{% extends 'base.html' %}
            {% block content %}
        <div class="baseforeverypage">
            <!-- sidebar -->
            <!-- sidebar -->
            <div class="mainframe">
              <div class="secondyr">
                <input type="text" readonly="" value="Second Year Time Table">
                <br>
                <div class="timetable-dropdown">
                    
                        <button>Semester 1</button>
                        <br>
                        <button>Semester 2</button>
                   
                </div>
              </div>
              <div class="thirdyr">
                <input type="text" readonly="" value="Third Year Time Table">
                <br>
                <div class="timetable-dropdown">
                    
                        <button>Semester 1</button>
                        <br>
                        <button>Semester 2</button>
                    
                </div>
              </div>
              <div class="finalyr">
                <input type="text" readonly="" value="Final Year Time Table">
                <br>
                <div class="timetable-dropdown">
                    
                        <button>Semester 1</button>
                        <br>
                        <button>Semester 2</button>
                    
                </div>
              </div>
            </div>
        </div>
        <script src="/static/JS/script.js"></script>
        {% endblock  %}
        </body>
    </html>